:root {
  --green-darkest: #2e6b33;
  --green-darker: #3b9933;
  --green-dark: #59cc3d;
  --green-light: #8de052;
  --green-lighter: #c6f075;
  --green-lightest: #e3fa9e;
  --black: #000000;
  --darkest: #222222;
  --darker: #313131;
  --dark: #424242;
  --grey: #757575;
  --grey-light: #fafafa;
  --white: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
  background: url('/img/background.png');
  font-family: 'Space Mono', monospace;
  color: var(--darkest);
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

#__wrapper {
  height: 100%;
}

/* tooltips */

[tooltip] {
  overflow: visible;
  max-width: 250px;
}
[tooltip]:hover:before, [tooltip]:hover:after {
  opacity: 1;
  pointer-events: none;
}
[tooltip]:hover:before {
  transform: translate(-50%, 0) translateY(-4px);
}
[tooltip]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 8px);
  transform-origin: top;
}
[tooltip]:hover:after {
  transform: translate(-50%, 0) translateY(-4px);
}
[tooltip]:after {
  box-shadow: var(--shadow-all);
  opacity: 0;
  pointer-events: none;
  transition: all 0.18s ease-out 0.18s;
  text-indent: 0;
  font-size: 15px;
  background: var(--black);
  border-radius: var(--radius-medium);
  color: #fff;
  content: attr(tooltip);
  padding: 12.5px;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, 8px);
  transform-origin: top;
  white-space: nowrap;
}
