@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/SpaceMono-Regular.eot');
  src: local('Space Mono'), local('SpaceMono-Regular'),
      url('../fonts/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SpaceMono-Regular.woff2') format('woff2'),
      url('../fonts/SpaceMono-Regular.woff') format('woff'),
      url('../fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/SpaceMono-Bold.eot');
  src: local('Space Mono Bold'), local('SpaceMono-Bold'),
      url('../fonts/SpaceMono-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
      url('../fonts/SpaceMono-Bold.woff') format('woff'),
      url('../fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
