@layer utilities {
  .landing-image {
    width: clamp(12rem, 26vw, 32rem);
  }

  .landing-fullname {
    font-size: clamp(2rem, 4vw, 5rem);
  }

  .landing-name {
    font-size: clamp(10rem, 20vw, 28rem);
  }

  .landing-name-cover {
    font-size: 40vw;
  }

  .landing-profession {
    font-size: clamp(3rem, 7vw, 10rem);
  }
}
