/* Slide in transition */
.slide-in-enter-active, .slide-in-leave-active {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0, .25, 1);
  transition-property: transform;
  transform: translateX(0);
}

.slide-in-enter-from, .slide-in-leave-to {
  transform: translateX(100%);
}
